<!DOCTYPE html>
<html>
<body style="background-color:#38369a">
	<table>
		<td style="padding:10px 14em;"></td>
		<center>
		<td style="padding:10px 100px 50em;background-color:white">
			<table>
				<tr style="padding:100px 50px">
					<td><img src="\static\evet.png" height=100px width=100px></td>
					<td><h1>Bu ilacı vermekte bir sıkıntı yok!</h1></td>
				</tr>
				<tr style="padding:100px 50px">
					<td col-length=2>
					</td>
				</tr>
			</table>
		</td>
		</center>
		<td style="padding:10px 14em;"></td>
	</table>
</body>
</html>