<!DOCTYPE html>
<html>
<head>
    <title>Anasayfa</title>
    <link rel="stylesheet" type="text/css" href="/static/styleresult.css">
	<link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
</head>

<style>
.center {
 margin: auto;
 width: 71%;
 border: 3px solid #73AD21;
 padding: 10px;
 margin-top:30px;
 overflow:hidden;
}

div {
 background-color: lightblue;
}

body{
font-family:'PT Sans',sans-serif;
font-size:20px;
}
</style>


<body background="\static\pattern.png">
    <div class="center">
		<table border = "0">
		<tr>
            <th>
            <img src= "\static\hayir.png" alt="hayir" width="130px" height="130px" style="padding:20px 40px 20px 20px">
			</th>
			<th style="padding:0px 10px 0px 0px">
				<p style="text-align:center;"><h1>İlaç hasta için kullanıma uygun gözüküyor!</h1></p>
				<p style="text-align:center;"><h3>Hasta: {{hasta_isim}} // İlaç: {{ilac_isim}}</h3></p>
            </th>
       </tr>
        </table>
    </div>
</body>

</html>